* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Kanit", "Segoe UI", Helvetica, sans-serif;
  color: #333;
  background-color: #f5f5f5;
}

.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

/* ============= Header ============= */
.site-header {
  background-color: #fff;
  padding: 20px 0;
  border-bottom: 2px solid rgb(135, 135, 135);
}

.box-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 4px;
  color: rgb(0, 0, 108);
}

.header-subtitle {
  font-weight: 400;
  font-size: 0.8rem;
  color: #777;
}

.social-icon a {
  font-size: 1rem;
  font-weight: 600;
  color: #444;

  border: 1px solid #313131;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-left: 10px;

  transition: all 0.3s ease;
}

.social-icon a:hover {
  border: 1px solid #0055ff;
  background-color: #0055ff;
  color: white;

  transform: translateY(-5px);

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* ============= Navbar ============= */
.nav-menu {
  display: flex;
  list-style: none;

  flex-wrap: wrap;
}

.nav-menu li a {
  color: white;
  font-size: 0.9rem;
  font-weight: 500;

  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.nav-menu li a:hover,
.nav-menu li a.active {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 108);
  transition: all 0.3s ease;
}

.main-nav {
  background-color: rgb(0, 0, 108);
}

/* ============= Hero Section ============= */
.hero-content {
  background-color: #e3e3e3;
  padding: 30px 0;
  box-shadow: 0 4px 15px rgba(157, 157, 157, 0.596);
  margin-bottom: 30px;
}

.hero-title {
  font-size: 2rem;
  font-weight: 700;
  color: darkblue;
  text-shadow: 2px 2px 4px #a2a2a2;
  text-align: center;
  margin-bottom: 20px;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

/*
        grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    */
.hero-item {
  background-color: white;
  border-radius: 10px;
  padding: 25px;

  transition: all 0.3s ease;
}

.hero-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  background: white;
}

.hero-item h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  line-height: 1.3;
  margin-bottom: 10px;
}

.hero-item p {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

.hero-item .read-more {
  font-size: 0.9rem;
  font-weight: 500;
  color: #1e8bc3;

  display: inline-block;
}

.hero-item .read-more:hover {
  color: #764ba2;
  text-decoration: none;
}

.hero-item .read-more::after {
  content: '→';
  margin-left: 5px;

  transition: margin-left 0.3s ease;
}

.hero-item .read-more:hover::after {
  margin-left: 10px;
}